<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
  <% name = "Joe" %><h1>Goodbye <%= name %></h1>
</body>
</html>



<!-- First tags are script tags, which are evaluated but not displayed. name has a value of "Joe"

Second tags are substitution tags, which are evaluated AND displated. This will show Goodbye Joe in a large header tag -->

